@model Nota

@{
    ViewData["Title"] = "Deleting Page";
}

<div class="text-center">
    <h1 class="rust-font">Remover Nota</h1>
    <div class="Ferris">
          <img src="@Url.Content("~/img/173-1736275_explain-alarmed-ferris-convention-rust-lang-clipart-3155935025.png")" alt="Rustacean Logo" width="300" class="FerrisComum" />
        <h1 class="Introp">Quer mesmo remover a Nota? (@Model.Valor)</h1>
        <a type="submit" class="botaoRemoverDentro" asp-controller="Nota" asp-action="Remove" asp-route-id="@Model.NotaID">Remover</a>
        <a type="submit" class="botaoVoltarDentro" asp-controller="Nota" asp-action="Index">Voltar</a>
        
        </div>
</div>
