@model Aluno

@{
    ViewData["Title"] = "Create Page";
}

<div class="text-center">
    <h1 class="rust-font">Adicionar Aluno</h1>
    <form asp-controller="Aluno" asp-action="Create" method="post">
        <div class="mb-3">
        <label for="nome" class="form-label">Nome do aluno</label>
        <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Nome" required>
        </div>
        <button type="submit" class="botaoCriar">Criar</button>
    </form>
      <div class="Ferris">
        <img src="@Url.Content("~/img/rustacean-orig-noshadow-56857821.png")" alt="Rustacean Logo" width="300" class="FerrisComum" />
            <p class="Introp">Está página é para Adicionar os nossos alunos Rustaceanos .</p>

      </div>

</div>
