@model Aluno

@{
    ViewData["Title"] = "Edit Page";
}

<div class="text-center">
    <h1 class="rust-font">Editar Aluno</h1>
    <form asp-controller="Aluno" asp-action="Edit" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do aluno</label>
            <input type="text" asp-for="Nome" pattern="[A-Za-zÀ-ÿ\s]{3,35}" minlength="3" maxlength="35"
                title="DIGITE APENAS LETRAS E ESPAÇOS!! min=3 max=35" class="form-control" id="nome" placeholder="Nome"
                required>
            <span asp-validation-for="Nome" class="text-danger"></span>

            <button type="submit" class="botaoEditar">Editar</button>
        </div>
        <input type="hidden" asp-for="AlunoID">
    </form>


</div>
