@model List<Aluno>

@{
    ViewData["Title"] = "Alunos Page";
}
<div class="text-center">
    <h1 class="display-4">Alunos</h1>
    <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do aluno</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    @if (Model != null && Model.Any())
    {
        foreach (Aluno aluno in Model)
        {

            <tbody>
                <tr>
                    <th scope="row">@aluno.AlunoID</th>
                    <td>@aluno.Nome</td>
                    <td><a type="button" class="btn btn-outline-primary" asp-controller="Aluno" asp-action="Create">Adicionar
                            aluno</a>
                    </td>
                    <td><a type="button" class="btn btn-outline-primary" asp-controller="Aluno" asp-action="Edit" asp-route-id="@aluno.AlunoID">Editar
                            aluno</a>
                    </td>
                </tr>
            </tbody>
        }
    }
            </table>


</div>
