@model List<Aluno>

@{
    ViewData["Title"] = "Alunos Page";
    var contador = 1;
}

<div class="text-center">
    <h1 class="EscR">Alunos</h1>
    <table class="table table-dark">
    <thead>
        <a type="button" class="botaoperso" asp-controller="Aluno" asp-action="Create">Criar Aluno</a>
        
        <tr>
            
            <th scope="col">#</th>
            <th scope="col">Nome do aluno</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    @if (Model != null && Model.Any())
    {
        foreach (Aluno aluno in Model)
        {
        <tbody>
                <tr>
                    <th scope="row">@contador</th>
                    <td>@aluno.Nome</td>
                    <td><a type="button" class="botaoRemover" asp-controller="Aluno" asp-action="Delete" asp-route-id="@aluno.AlunoID" >Remover
                            aluno</a>
                    </td>
                    <td><a type="button" class="botaoEditar" asp-controller="Aluno" asp-action="Edit" asp-route-id="@aluno.AlunoID">Editar
                            aluno</a>
                    </td>
                </tr>
            </tbody>
            contador++;
        }
    }
            </table>


</div>
