@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="EscR">Escola Rustaceana</h1>
    <h2 class="Introp">Forjamos não apenas alunos, mas soldados do saber, máquinas precisas de obediência intelectual
        preparados para obedecer, produzir e superar
        qualquer obstáculo com disciplina e lealdade. Aqui, não há espaço para a dúvida ou para a desobediência
        intelectual. Ética, responsabilidade e excelência não são sugeridos — são exigidos.
        Aqui, a ética é imposta, a responsabilidade é monitorada. Perguntas são permitidas — desde que aprovadas
        previamente pelo Comitê Pedagógico Central.

        Nossos valores não se discutem. Nossos métodos não se questionam.
        Educar é comandar. Aprender é cumprir. Evoluir é vencer.
        Não há espaço para o erro. Não há espaço para o “não sei”.

        Escola Rustaceana — “Educar com punho de ferro, formar com cérebro de aço.”

        Rust não é apenas uma linguagem.
        Rust é doutrina.
        Rust é pureza.
        Rust é a lei sem brechas, o código sem medo e a promessa de um mundo sem erros.

        Em um planeta afundado em null, segfaults e corrupção de memória, ergue-se Rust como o último farol da
        sanidade computacional.

        Enquanto o C# falha, o Rust acerta.
        Enquanto o Java afoga em verbosidade, o Rust reluz em poder.
        Enquanto o Python brinca, o Rust constrói impérios.

        Viva o RUST.
        Sem bugs. Sem falhas. Sem questionamentos.

    </h2>
</div>

<div class="containerPerfil">

    <div class="diego">
        <img src="https://avatars.githubusercontent.com/u/81770118?v=4" alt="PerfilDiego" class="fotoDiego" />
        <h2 class="NomeDiego">Outragedline</h2>
        <ul class="Infor">

            <li>💻 Estudante e Desenvolvedor BackEnd</li>
            <li>🔭 Trabalhando em projetos com Rust 🦀</li>
            <li>🌱 Diego</li>
            <li>💬 Linux 🐧</li>
        </ul>
    </div>

    <div class="jeff">
        <img src="https://avatars.githubusercontent.com/u/164979283?v=4" alt="PerfilJefferson" class="fotoJefferson" />
        <h2 class="NomeJefferson">HD-29139</h2>
        <ul class="Infor">
            <li>💻 Estudante e Desenvolvedor BackEnd</li>
            <li>📘 Estudando Rust</li>
            <li>🧪 - HD-29139 - </li>
            <li>Jeffferson</li>
        </ul>
    </div>

    <div class="arthur">
        <img src="https://avatars.githubusercontent.com/u/169567220?s=400&u=4a05d1a7cb6150ad1d8d357e45b912eea47fb1dc&v=4"
            alt="PerfilArthur" class="fotoArthur" />
        <h2 class="NomeArthur">SANTMO</h2>
        <ul class="Infor">
            <li>💻 Estudante Desenvolvedor BackEnd</li>
            <li>📘 Estudando Rust</li>
            <li>🧪 - Arthur - </li>
            <li>Linux 🐧</li>
        </ul>
    </div>
</div>