@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="EscR">Escola Rustaceana</h1>
    <p class="Introp">A Escola Rustaceana nasceu com o propósito de oferecer uma educação sólida, moderna e centrada no desenvolvimento completo dos seus alunos. Mais do que transmitir conhecimento, buscamos formar cidadãos preparados para os desafios da vida, cultivando valores como ética, responsabilidade e curiosidade intelectual.</p>
</div>

<div class="containerPerfil">

    <div class="diego">
        <img src="https://avatars.githubusercontent.com/u/81770118?v=4" alt="PerfilDiego" class="fotoDiego"/>
        <h2 class="NomeDiego">Outragedline</h2>
        <ul class="Infor">
           
            <li>💻 Estudante e Desenvolvedor BackEnd</li>
            <li>🔭 Trabalhando em projetos com Rust 🦀</li>
            <li>🌱 Diego</li>
            <li>💬 Linux 🐧</li>
        </ul>
    </div>

    <div class="jeff">
        <img src="https://avatars.githubusercontent.com/u/164979283?v=4" alt="PerfilJefferson" class="fotoJefferson"/>
        <h2 class="NomeJefferson">HD-29139</h2>
        <ul class="Infor">
            <li>💻 Desenvolvedor BackEnd</li>
            <li>📘 Estudando Rust</li>
            <li>🧪 - HD-29139 - </li>
            <li>mov.gabriel</li>
        </ul>
    </div>

    <div class="arthur">
        <img src="https://avatars.githubusercontent.com/u/169567220?s=400&u=4a05d1a7cb6150ad1d8d357e45b912eea47fb1dc&v=4" alt="PerfilArthur" class="fotoArthur"/>
        <h2 class="NomeArthur">SANTMO</h2>
        <ul class="Infor">
            <li>💻 Desenvolvedor BackEnd</li>
            <li>📘 Estudando Rust</li>
            <li>🧪 - Arthur - </li>
            <li>Linux 🐧</li>
        </ul>
    </div>
</div>