html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.rust-font {
    font-family: 'Source Code Pro', monospace;
    color: 	#3A3A3A;
    letter-spacing: 0.07em;
}

.EscR{
  font-family: 'Source Code Pro', monospace;
  color: #DE6A32;
  letter-spacing: 0.07em;
}
.Introp {
                  
  background-color: #F5F5F5;       
  border-left: 4px solid #DEA584;  
  padding: 12px 18px;
  border-radius: 6px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.Introp {
  opacity: 0;     
  transform: translateY(20px);   
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.3s;         
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-fluid.itensNav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;  
}


.navITEM{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
  list-style: none;
  font-size: 25px;
  color: #F5F5F5!important;
  height: auto;
  opacity: 1;
  transform: none; 
  
}

.containerPerfil{
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .navITEM {
    flex-direction: column; 
    text-align: center;
    gap: 10px; 
    font-size: 18px; 
    padding: 5px; 
    opacity: 1; 
    transform: none; 
    animation: none; 
  }
}

@media (max-width: 576px) {
  .navITEM {
    flex-direction: column; 
    text-align: center;
    gap: 5px; 
    font-size: 14px; 
    padding: 3px; 
    height: auto; 
  }
}


.diego, .jeff,.arthur{
  background: linear-gradient(145deg, #2e2e2e, #3c3c3c);
  color: white;
  height: 350px;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  font-family: 'Rajdhani', sans-serif;
  transition: transform 0.3s ease;
}
.diego:hover,
.jeff:hover,
.arthur:hover {
  background: linear-gradient(145deg, #4a4a4a, #2e2e2e);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  transform:  translateY(-5px);
  cursor: pointer;
  
}
@media (max-width: 768px) {
  .containerPerfil {
    flex-direction: column;
    align-items: center;
  }
  .diego, .jeff, .arthur {
    width: 90%;
    margin-bottom: 20px;
    height: 290px;
  }
}


.fotoDiego, .fotoJefferson,.fotoArthur {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .fotoDiego, .fotoJefferson, .fotoArthur {
    width: 100px;
    height: 100px;
  }
}

.NomeDiego, .NomeJefferson,.NomeArthur {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .NomeDiego, .NomeJefferson, .NomeArthur {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.Infor {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Infor li {
  margin: 8px 0;
  font-size: 14px;
}
.customnavbar a,
.customnavbar .nav-link {
  color: #e5e5e5 !important;
  text-decoration: none !important;
  position: relative;
  padding: 6px 10px;    
  transition: color 0.3s ease, background-color 0.3s ease;
  display: inline-block; 
}

/* Sublinhado  */
.customnavbar a::after,
.customnavbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #D99028;
  transition: width 0.3s ease;
}

.customnavbar a:hover,
.customnavbar .nav-link:hover {
  color: #fff !important;
  background-color: rgba(222, 106, 50, 0.15);
  border-radius: 8px;
}

.customnavbar a:hover::after,
.customnavbar .nav-link:hover::after {
  width: 100%;
}


/*Aqui é a parte de personalizar os botões do site*/
.botaoperso{
background-color: #DE6A32;
color: #F5F5F5;
border: none;
border-radius: 5px;
padding: 10px 10px;
font-size: 14px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;
list-style: none;
text-decoration: none;
display: flex;
justify-content: center;
padding: 10px;
width: 20%;
height: 30px;

}

.botaoperso:hover {
  text-decoration: none;
  color: #dfdcdc;
  background-color: #e35c22;
  transform: translateY(-4px);
}
  
@media (max-width: 768px) {
  .botaoperso {
    width: 80%;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px auto;  
    font-size: 10px; 
  }
}
.botaoCriar{
  background-color: #DE6A32;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto; 
  width: 20%;
  height: 40px;
}


.botaoCriar:hover {
  text-decoration: none;
  color: #dfdcdc;
  background-color: #e45618;
}

.botaoRemover{
  background-color: #b7410e;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 30%;
  height: 60px;
}
.botaoVoltar{
  background-color: #4a4a4a;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 30%;
  height: 60px;
}
.botaoEditar{
  background-color: #d99028;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 30%;
  height: 60px;
}
button.botaoEditar{
  background-color: #d99028;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 20%;
  height: 50px;
}
.botaoRemover:hover {
  text-decoration: none;
  color: #dfdcdc;
  background-color: #d75118;
  }
  .botaoVoltar:hover{
  text-decoration: none;
  color: #dfdcdc;
  background-color: #615a5a;
  }
  .botaoEditar:hover {
  text-decoration: none;
  color: #dfdcdc;
  background-color: #e99d33;
}
a.botaoVoltar{
width: 20%;
display: flex;
justify-content: center;
align-items: center;
height: 40px;
text-decoration: none;
}

@media (max-width: 768px) {
  .botaoRemover,
  .botaoVoltar {
    width: 80%;          
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px auto;   
  }
}
@media (max-width: 768px) {
  .botaoEditar {
    width: 80%;
    flex-direction: column;
    text-align: center;
    padding: 10px;          
    margin: 10px auto;   
  }
}
a.botaoRemoverDentro{ 
  background-color: #b7410e;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
}
a.botaoRemoverDentro:hover {
  background-color: #99310a; 
  color: #ffffff;
}
a.botaoVoltarDentro{
  background-color: #4a4a4a;
  color: #F5F5F5;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
}
a.botaoVoltarDentro:hover {
  background-color: #2f2f2f;
  color: #ffffff;
}
.botaoRemoverSimples{
  .meu-botao-simples {
    background-color: #767070;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    transition: background-color 0.3s ease;
}

.botaoRemoverSimples:hover {
    background-color: #5a5a5a;
}
}

/* Aqui é a parte de personalizar os Ferris do site */
.Ferris{
  display: flex;
  align-items: center;
  animation: pulsar 1.5s infinite ease-in-out;
  opacity: 0;     
  transform: translateY(20px);   
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.3s;    
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.textoRustacean{
 background: linear-gradient(145deg, #3c3c3c, #2e2e2e);
 border-radius: 10px; 
 height: 100px;
 width: 50%;
 color: #F5F5F5;
 justify-content: center;
 align-items: center;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
.Ferris {
    flex-direction: column;
    align-items: center;
  }
  .textoRustacean {
    width: 80%;
    margin-bottom: 20px;
  }

}
.textoRustacean {
  width: 100%;
  margin-bottom: 20px;
}


@keyframes pulsar {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
  }
}

/* aqui é a parte de personalizar os H1 do site */
.EscR{
  opacity: 0;     
  transform: translateY(20px);   
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.3s;       
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    display: flex !important; /* força mostrar a área do menu */
    flex-direction: column;
  }

  .navITEM {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 18px;
    padding: 5px;
    opacity: 1;
    transform: none;
    animation: none;
    height: auto;
    visibility: visible;
  }
}
.divisorbotaolista {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.divisorbotaolista .botaoEditar,
.divisorbotaolista .botaoRemover {
  margin: 0;
  width: auto;
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
}