@model Matricula

@{
    ViewData["Title"] = "Create Page";
}

<div class="container">
    <h2 class="my-4 text-center">Cadastrar Matrícula</h2>
    <div class="Ferris">
        <img src="@Url.Content("~/img/rustacean-orig-noshadow-56857821.png")" alt="Rustacean Logo" width="240"
            class="FerrisComum" />
        <p class="Introp">Se cadastre para não perder as novidades!</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <form asp-controller="Matricula" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="AlunoID" class="form-label">Aluno</label>
            <select asp-for="AlunoID" class="form-select" asp-items="ViewBag.Alunos" required>
                <option value="">-- Selecione um aluno --</option>
            </select>
            <span asp-validation-for="AlunoID" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DisciplinaID" class="form-label">Disciplina</label>
            <select asp-for="DisciplinaID" class="form-select" asp-items="ViewBag.Disciplinas" required>
                <option value="">-- Selecione uma disciplina --</option>
            </select>
            <span asp-validation-for="DisciplinaID" class="text-danger"></span>
        </div>

        <button type="submit" class="botaoCriar">Salvar</button>
        <a asp-action="Index" class="botaoVoltar">Cancelar</a>
    </form>
</div>
