


@model Matricula

@{
    ViewData["Title"] = "Deleting Page";
}

<div class="text-center">
     <h1 class="rust-font">Remoção do aluno </h1>
          <div class="Ferris">
             <img src="@Url.Content("~/img/173-1736275_explain-alarmed-ferris-convention-rust-lang-clipart-3155935025.png")" alt="Rustacean Logo" width="300" class="FerrisComum" />
        <p class="Introp">Quer mesmo remover a matricula do Aluno (@Model.Aluno.Nome) da Disciplina (@Model.Disciplina.Nome) ?</p>
        <a type="submit"class="botaoRemover" asp-controller="Matricula" asp-action="Remove" asp-route-id="@Model.MatriculaID">Remover</a>
        <a type="submit" class="botaoVoltar" asp-controller="Matricula" asp-action="Index">Voltar</a>
        </div>
</div>
